/*dropdown*/

div.dropdown {
    font-family: 'STFangsong';
    width: 100%;
    max-width: 290px;
    max-height: 55px;
    border-bottom: 1px solid #dadada;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    font-size: 19px;
    text-align: left;
    color: #fff;
    margin: 20px auto;
    .select {
        cursor: pointer;
        display: block;
        position: relative;
        height: 55px;
        .inner {
            padding: 0 0 0 20px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
        }
        .inner img {
            width: 20px;
            float: right;
        }
    }
    .dropdown-menu {
        text-align: left;
        position: absolute;
        width: calc(100% + 1px);
        left: -1px;
        margin-top: 1px;
        border-top: 0;
        overflow: hidden;
        display: none;
        max-height: 200px;
        overflow-y: auto;
        z-index: 9;
        padding: 0;
        list-style: none;
        li {
            padding: 15px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            color: #fff;
            background-color: #6d6d6d;
            border-bottom: 1px solid #fff;
            font-size: 16px;
        }
        li:hover {
            background-color: #e9e9e9;
        }
    }
}

@media screen and (max-width: 767px) {
    .dropdown {
        width: 100%;
    }
}