/* footer */

$footer_li_height_m:20px;
footer {
    height: 75px;
    background-color: #1c1d24;
    font-size: 0;
    ul {
        display: inline-block;
        vertical-align: middle;
        li {
            display: inline-block;
            vertical-align: middle;
        }
    }
    div.inner {
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        ul.info {
            width: 70%;
            img.logo {
                width: 115px;
            }
            span.address {
                font-family: 'STFangsong';
                font-size: 15px;
                padding: 0 50px;
                @media screen and (max-width: 767px) {
                    padding: 0;
                }
            }
        }
        ul.social {
            width: 30%;
            text-align: right;
            li {
                display: inline;
                margin: 0 10px;
                a img {
                    width: 50px;
                    height: 50px;
                    border: 1px solid #fff;
                    border-radius: 100px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    footer {
        text-align: center;
        height: 200px;
        div.inner {
            ul.info {
                width: 100%;
                text-align: center;
                li {
                    padding-bottom: $footer_li_height_m;
                }
            }
            ul.social {
                width: 100%;
                text-align: center;
                padding-bottom: $footer_li_height_m;
            }
        }
    }
}